<!-- Page Header-->
<header class="masthead" style="background-image: url('https://cdn.shopify.com/s/files/1/0070/7032/files/how-to-start-a-blog-illustration.png?format=jpg&quality=90&v=1595363254')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About</h1>
                    <span class="subheading">This is my Blog</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7" style="text-align: justify;">
                <p>The Perfect Place to Find Inspiration, Knowledge, and Share Ideas!</p>
                <p>This blog was created with the intention of providing a welcoming and accessible space for writing enthusiasts, creativity lovers, and idea sharers. Here, you will find a simple and uncomplicated environment filled with engaging content.</p>
                <p>Simple Blog is a place where you can discover a variety of fascinating and captivating articles, covering a wide range of topics. Whether you are looking for lifestyle tips, travel suggestions, entrepreneurial advice, book reviews, or even DIY project ideas, we have it all and more!</p>
            </div>
        </div>
    </div>
</main>
