<!-- Page Header-->
<header class="masthead" style="background-image: url('https://thumbs.dreamstime.com/b/blog-information-website-concept-workplace-background-text-view-above-127465079.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2 style="text-align: center;"><%= @article.title %></h2>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p><%= simple_format(@article.body) %></p>
            </div>
        </div>
        <div style="margin-left: 57%;">
          <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary text-uppercase" %>
          <%= link_to "Delete", article_path(@article), class: "btn btn-danger text-uppercase", data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?" } %>
        </div>
    </div>
</article>
